{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='hidden.css') }}">
<div class="container">
    <h4 class="my-3 font-weight-bold border-bottom" style="padding: 0.3rem 0">아이디어 제안 등록</h5>
        <form id="idea-form" method="post" class="post-form my-3" role="form">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <!-- 오류표시 Start -->
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
            </div>
            {% endfor %}
            <!-- 오류표시 End -->
            <h5 class="font-weight-bold" style="margin-top:2rem">아이디어 기본정보</h5>
            <div class="form-group border border-gray rounded" style="padding: 10px 10px">
                <div class="row">
                    <div class="col-2">
                        <label for="ideaType">아이디어 유형</label>
                        <select class="form-control" name="ideaType" id="ideaType"
                            value="{{ form.ideaType.data or '' }}">
                            <option>대체원료</option>
                            <option>공급사최적화</option>
                            <option>SPEC최적화</option>
                            <option>선도구매</option>
                            <option>협상</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="ideaTitle">제안명</label>
                        <input type="text" class="form-control" name="ideaTitle" id="ideaTitle"
                            value="{{ form.ideaTitle.data or '' }}">
                    </div>
                    <div class="col-2">
                        <label for="priceBefore">기존 단가</label>
                        <input type="text" class="form-control" name="priceBefore" id="priceBefore"
                            value="{{ form.priceBefore.data or '' }}">
                    </div>
                    <div class="col-2">
                        <label for="priceAfter">변경 단가</label>
                        <input type="text" class="form-control" name="priceAfter" id="priceAfter"
                            value="{{ form.priceAfter.data or '' }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3"><label for="content">아이디어 세부내용</label>
                        <textarea class="form-control" name="content" id="content"
                            rows="5">{{ form.content.data or '' }}</textarea>
                    </div>
                </div>
            </div>
            <h5 class="font-weight-bold" style="margin-top:2rem">대상품목 리스트</h5>

            <div class="form-group border border-gray rounded" style="padding: 10px 10px">
                <!-- <a id="add" href="#">Add</a> -->
                <div id="subforms-container">
                    {% for subform in form.prodEntry %}
                    {{ subform.hidden_tag() }}
                    <div id="prodEntry-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                        <div class="row mb-3">
                            <div class="col-2">
                                {{ subform.ideaStatus.label }}
                                {{ subform.ideaStatus(class_='form-control') }}
                            </div>
                            <div class="col-2">
                                {{ subform.companyID.label }}
                                {{ subform.companyID(class_='form-control') }}
                            </div>
                            <div class="col-2">
                                {{ subform.prodID.label }}
                                {{ subform.prodID(class_='form-control') }}
                            </div>
                            <div class="col-2">
                                {{ subform.effectBegin.label }}
                                {{ subform.effectBegin(class_='form-control') }}
                            </div>
                            <div class="col-2">
                                {{ subform.effectEnd.label }}
                                {{ subform.effectEnd(class_='form-control') }}
                            </div>
                            <div class="col-2">
                                {{ subform.estSavings.label }}
                                {{ subform.estSavings(class_='form-control') }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="float-left">
                <button id="add" href="#" type="button" class="btn btn-primary btn-add">+</button>
            </div>
            <button type="submit" class="btn btn-primary float-right">저장하기</button>
        </form>

        {# Form template #}

        {% for subform in form.prodEntry %}
        {{ subform.hidden_tag() }}
        <div id="prodEntry-_-form" class="is-hidden" data-index="_">
            <div class="row mb-3">
                <div class="col-2">
                    {{ subform.ideaStatus(**{"class": "form-control", "id": "prodEntry-_-ideaStatus"}) }}
                </div>
                <div class="col-2">
                    {{ subform.companyID(**{"class": "form-control", "id": "prodEntry-_-companyID"}) }}
                </div>
                <div class="col-2">
                    {{ subform.prodID(**{"class": "form-control", "id": "prodEntry-_-prodID"}) }}
                </div>
                <div class="col-2">
                    {{ subform.effectBegin(**{"class": "form-control", "id": "prodEntry-_-effectBegin"}) }}
                </div>
                <div class="col-2">
                    {{ subform.effectEnd(**{"class": "form-control", "id": "prodEntry-_-effectEnd"}) }}
                </div>
                <div class="col-2">
                    {{ subform.estSavings(**{"class": "form-control", "id": "prodEntry-_-estSavings"}) }}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <div id="prodEntry-_-form" class="is-hidden" data-index="_">
            <div class="row">
                <div class="col-2">
                    <select id="prodEntry-_-ideaStatus" class="form-control" name="prodEntry-_-ideaStatus" value="">
                        <option>제안</option>
                        <option>샘플</option>
                        <option>연구소</option>
                        <option>제안확정</option>
                        <option>발주</option>
                        <option>입고</option>
                    </select>
                </div>
                <div class="col-2">
                    <select id="prodEntry-_-companyID" class="form-control" name="prodEntry-_-companyID" value="">
                        <option value="PC00">파리크라상</option>
                        <option value="SP00">에스피엘</option>
                        <option value="SL00">에스피씨삼립</option>
                        <option value="A100">샤니</option>
                        <option value="B100">호남샤니</option>
                        <option value="BR00">비알코리아</option>
                        <option value="1000">밀다원</option>
                        <option value="AP00">그릭슈바인</option>
                        <option value="E100">에그팜</option>
                        <option value="SC01">에스피씨팩</option>
                        <option value="C100">샌드팜</option>
                    </select>
                </div>
                <div class="col-2">
                    <input id="prodEntry-_-prodID" type="text" class="form-control" name="prodEntry-_-prodID" value="">
                </div>
                <div class="col-2">
                    <input id="prodEntry-_-effectBegin" type="month" data-date-format="YYYY-MM" class="form-control"
                        name="prodEntry-_-effectBegin" value="">
                </div>
                <div class="col-2">
                    <input id="prodEntry-_-effectEnd" type="month" data-date-format="YYYY-MM" class="form-control"
                        name="prodEntry-_-effectEnd" value="">
                </div>
                <div class="col-2">
                    <input id="prodEntry-_-estSavings" type="text" style="text-align: right;" class="form-control"
                        name="prodEntry-_-estSavings" value="">
                </div>
            </div>
            <a class="remove" href="#">Remove</a>
        </div> -->
</div>


{% if form.errors %}
{{ form.errors }}
{% endif %}

{% endblock %}

{% block script %}
<script type='text/javascript'>
    /**
     * Adjust the indices of form fields when removing items.
     */
    function adjustIndices(removedIndex) {
        var $forms = $('.subform');

        $forms.each(function (i) {
            var $form = $(this);
            var index = parseInt($form.data('index'));
            var newIndex = index - 1;

            if (index < removedIndex) {
                // Skip
                return true;
            }

            // Change ID in form itself
            $form.attr('id', $form.attr('id').replace(index, newIndex));
            console.log('id', id)
            $form.data('index', newIndex);

            // Change IDs in form inputs
            $form.find('input').each(function (j) {
                var $item = $(this);
                $item.attr('id', $item.attr('id').replace(index, newIndex));
                $item.attr('name', $item.attr('name').replace(index, newIndex));
            });
        });
    }

    /**
     * Remove a form.
     */
    function removeForm() {
        var $removedForm = $(this).closest('.subform');
        var removedIndex = parseInt($removedForm.data('index'));

        $removedForm.remove();

        // Update indices
        adjustIndices(removedIndex);
    }

    /**
     * Add a new form.
     */
    function addForm() {
        var $templateForm = $('#prodEntry-_-form');

        if (!$templateForm) {
            console.log('[ERROR] Cannot find template');
            return;
        }

        // Get Last index
        var $lastForm = $('.subform').last();

        var newIndex = 0;

        if ($lastForm.length > 0) {
            newIndex = parseInt($lastForm.data('index')) + 1;
        }

        // Maximum of 20 subforms
        if (newIndex > 20) {
            console.log('[WARNING] Reached maximum number of elements');
            return;
        }

        // Add elements
        var $newForm = $templateForm.clone();

        $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
        $newForm.data('index', newIndex);

        $newForm.find('input').each(function (idx) {
            var $item = $(this);

            $item.attr('id', $item.attr('id').replace('_', newIndex));
            $item.attr('name', $item.attr('name').replace('_', newIndex));
        });
        $newForm.find('select').each(function (idx) {
            var $item = $(this);

            $item.attr('id', $item.attr('id').replace('_', newIndex));
            $item.attr('name', $item.attr('name').replace('_', newIndex));
        });
        // Append
        $('#subforms-container').append($newForm);
        $newForm.addClass('subform');
        $newForm.removeClass('is-hidden');

        $newForm.find('.remove').click(removeForm);
    }


    $(document).ready(function () {
        $('#add').click(addForm);
        $('.remove').click(removeForm);
    });
</script>

{% endblock %}