{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">아이디어 제안 등록</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="ideaType">아이디어 유형</label>
                    <select class="form-control" name="ideaType" id="ideaType"
                        value="{{ form.ideaType.data or '' }}">
                        <option>대체원료</option>
                        <option>공급사최적화</option>
                        <option>SPEC최적화</option>
                        <option>선도구매</option>
                        <option>협상</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="ideaStatus">아이디어 진행현황</label>
                    <select class="form-control" name="ideaStatus" id="ideaStatus"
                           value="{{ form.ideaStatus.data or '' }}">
                        <option>제안</option>
                        <option>샘플</option>
                        <option>연구소</option>
                        <option>제안확정</option>
                        <option>발주</option>
                        <option>입고</option>
                    </select>
                </div>
                <!-- Required YYYY-MM Calendar Picker -->
                <div class="col-3">
                    <label for="effectBegin">적용시작월</label>
                    <input type="month" data-date-format="YYYY-MM" class="form-control" name="effectBegin" id="effectBegin"
                   value="{{ form.effectBegin.data or '' }}"> 
                </div>
                <div class="col-3">
                    <label for="effectEnd">적용종료월</label>
                    <input type="month" data-date-format="YYYY-MM" class="form-control" name="effectEnd" id="effectEnd"
                   value="{{ form.effectEnd.data or '' }}"> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ideaTitle">제안명</label>
            <input type="text" class="form-control" name="ideaTitle" id="ideaTitle"
                   value="{{ form.ideaTitle.data or '' }}">
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-3 ">
                <label for="ideaTitle">고객사명</label>
                <select class="form-control" name="companyID" id="companyID"
                    value="{{ form.companyID.data or '' }}">
                    <option value="PC00">파리크라상</option>
                    <option value="SP00">에스피엘</option>
                    <option value="SL00">에스피씨삼립</option>
                    <option value="A100">샤니</option>
                    <option value="B100">호남샤니</option>
                    <option value="BR00">비알코리아</option>
                    <option value="1000">밀다원</option>
                    <option value="AP00">그릭슈바인</option>
                    <option value="E100">에그팜</option>
                    <option value="SC01">에스피씨팩</option>
                    <option value="C100">샌드팜</option>
                </select>
                </div>
                <div class="col-3">
                <label for="ideaTitle">계열사품목코드</label>
                <input type="text" class="form-control" name="prodID" id="prodID"
                    value="{{ form.prodID.data or '' }}">
                </div>
                <!-- required to query prodName automatically -->
                <div class="col-6"> 
                    <label for="ideaTitle">품명</label>
                    <input type="text" class="form-control" name="prodName" id="prodName"
                        value="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="priceBefore">기존단가</label>
                    <input type="text" style="text-align: right;" class="form-control" name="priceBefore" id="priceBefore"
                        value="{{ form.priceBefore.data or '' }}">
                </div>
                <div class="col-3">
                    <label for="priceAfter">변경단가</label>
                    <input type="text" style="text-align: right;" class="form-control" name="priceAfter" id="priceAfter"
                        value="{{ form.priceAfter.data or '' }}">
                </div>
                <div class="col-3">
                    <label for="estSavings">예상 절감액</label>
                    <input type="text" style="text-align: right;" class="form-control" name="estSavings" id="estSavings"
                        value="{{ form.estSavings.data or '' }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
