{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <div class="row">
            <div class="col-2">
                <p>제안 #1</p>
            </div>
            <div class="col-4">
            <label for="subject">고객사명</label>
            <input type="text" class="form-control" name="company" id="company"
                   value="{{ form.company.data or '' }}">
            </div>
            <div class="col-4">
            <label for="subject">계열사품목코드</label>
            <input type="text" class="form-control" name="prod_id" id="prod_id"
                   value="{{ form.prod_id.data or '' }}">
            </div>
            </div>
        </div>
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.data or '' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
